body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#d1 {
    color: ;
    padding: 10px;

}

#d2 {
    top: 5px;
    right: 10px;
    padding: 10px;
}

#d3 {
    color:;
    padding: 10px;
}

